.drawer {
  overflow: auto;
  flex-shrink: 0;
  width: 340px;
  padding: 8px;
  padding-top: 0;
  margin: 8px;
  border-radius: 8px;
  background-color: var(--pane-color);

  * {
    list-style: none;
  }

  a {
    color: var(--dim-text);
    font-weight: normal;
    text-decoration: none;
  }

  p {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    gap: 6px;
    .icon {
      color: var(--primary-color);
      font-size: 16px;
    }
  }
  ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 18px;

    & ul {
      display: none;
    }
  }
  h3 {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 2px;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 4px;
    /* cursor: pointer; */
    user-select: none;
    transition: 0.2s;
    font-size: 18px;
    gap: 10px;
    &:hover {
      color: var(--selected-text-color);
    }
    .icon {
      padding: 4px;
      border-radius: 50%;
      color: white;
      background: #8458ff;
      background-color: red;
      font-size: 16px;
      corner-shape: squircle;
    }
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
  }
  h1 {
    display: none;
  }
  li {
    margin-left: 6px;
    color: var(--dim-text);
    font-weight: bold;
    &:first-child h3 {
      padding-top: 0;
      margin-top: -8px;
      border-top: none;
    }

    :global &.show {
      h3 {
        /* color: var(--selected-text-color); */
      }
    }
    :global &.show,
    :global &.show ul {
      display: initial;
    }
  }
  li:has(> a) {
    a {
      --get: rgb(35, 139, 209);
      --post: rgb(64, 160, 72);
      --delete: #cf514d;
      --patch: #c9601a;
      --put: #8b8204;
      position: relative;
      display: flex;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 6px;
      padding-left: 10px;
      border-radius: 6px;
      transition: 0.2s;
      font-size: 14px;
      &:before {
        position: absolute;
        left: 0;
        width: 2px;
        height: 100%;
        opacity: 0.4;
        background-color: var(--selected-text-color);
        content: "";
        transition: 0.2s;
      }
      &:hover {
        color: var(--text-color);
        background-color: var(--hover-bg);
        &:before {
          height: 20px;
          border-radius: 99px;
          opacity: 1;
        }
      }
      &[data-selected="true"] {
        color: var(--selected-text-color);
        background-color: var(--selected-bg);
        &:before {
          height: 20px;
          border-radius: 99px;
          opacity: 1;
        }
      }
      span {
        flex: 1;
      }
      .method {
        align-self: flex-end;
        flex: initial;
        width: 54px;
        padding: 2px;
        border-radius: 4px;
        color: white;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}

.backdrop {
  display: none;
}

@media (max-width: 410px) {
  .drawer {
    width: initial;
  }
}
@media (max-width: 1000px) {
  [data-state="CLOSED"] {
    display: none;
  }
  .drawer {
    position: fixed;
    z-index: 1111111111111111111111;
    top: 50px;
    right: 0;
    bottom: 0px;
    left: 0;
    margin: 0;
  }
  .backdrop {
    position: absolute;
    z-index: 11111;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
  }
}
